.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout_img {
  width: 100%;
  object-fit: contain;
  height: 400px;
  margin-bottom: 10px;
  z-index: -1;
  opacity: 1;
  filter: contrast(130%);
  margin-top: 0px;
}
.checkout_title {
  margin-right: 10px;
  object-fit: contain;
  margin-bottom: 10px;
}

.link_t {
  color: rgb(254, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
  background-color: #38afd3;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  margin-left: 60%;
  border: 2px solid rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
