.header {
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2px;
}

.header_search {
  display: flex;
  flex: 0.9;
}

.header_searchIcon {
  padding: 5px;
  border: none;
  height: 32px !important;
  background-color: #fcc669;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_nav {
  display: flex;
  justify-items: right;
}

.header_link {
  text-decoration: none;
  color: white !important;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 10px;
}

.header_optionLineOne {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none !important;
  color: white !important;
}

.header_optionBasket2 {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-left: 25px;
  margin-right: 10px;
}

.header_basketCount {
  margin: 10px;
  margin-right: 10px;
}
